@import './header/index.css';
@import './home/index.css';
@import './alert/index.css';
@import './photo/index.css';

* {
  box-sizing: border-box;
}
#app {
  background-color: #a6e2d3;
  max-width: 720px;
  margin: 0 auto;
  border-radius: 10px;
  height: 100%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
}
