.photo_selector_Item {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  margin: 20px;
}

.photo_selector_item_img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.photo_selector {
  display: flex;
  overflow-x: scroll;
}

.photoView {
  height: 70%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoView_img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.photo_selector_select {
  border: 5px royalblue solid;
}
