.alert_item {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid;
}
ul {
  padding: 0;
}

.memo_item {
  overflow-wrap: break-word;
  text-decoration: none;
  padding: 0 30px;
  border-bottom: 1px solid;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.memo_focus {
  -webkit-line-clamp: initial;
}
